body {
    background-color: rgb(96,102,212);
    background: linear-gradient(297deg, rgba(96,102,212,1) 16%, rgba(204,33,177,1) 91%);
    font-family: cursive;
}



.border-radius{
    border-radius: 15px;
}


#note-list{
    display: flex;
    flex-direction: column;
}


li{
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.removebtnstyle{
    float: right;
    color: red !important;
    font-size: larger;
    font-weight: bolder;
    cursor: pointer;
    margin-left: auto;
}